@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --common-white: #ffffff;
  --common-black: #000000;
  --primary-green: #4caf50;
  --primary-dark-green: #388e3c;
  --semi-transparent-primary-green: rgba(76, 175, 80, 0.3);
  --semi-transparent-light-blue: rgba(224, 247, 250, 0.3);
  --primary-red: #ed142a;
  --primary-gradient: linear-gradient(135deg, #f9f9f9 0%, #e0f7fa 100%);
  --secondary-gradient: linear-gradient(transparent, #e0f7fa 52%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scrollbar-width: thin;
}

body {
  background: var(--primary-gradient);
  color: var(--common-black);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  padding-top: 52px;
}

.nav-container {
  width: 100%;
  height: 52px;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  position: fixed;
  top: 0;
  z-index: 1001;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--semi-transparent-primary-green);
}

.brand-name {
  color: var(--primary-green);
  font-size: 24px;
  font-weight: 700;
}

.nav-menu-container {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
}

.menu-item a {
  text-decoration: none;
  color: var(--common-black);
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 4px;
}

.menu-item a:hover,
.menu-item-active a {
  color: var(--primary-green);
}

.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 1010;
  width: 75%;
  height: 100vh;
  background: var(--common-white);
  box-shadow: -2px 0 6px rgba(0, 0, 0, 0.3);
  transition: 1s ease-out;
}

.sidebar-content-container {
  width: 100%;
  height: 100%;
  padding: 16px;
  background: var(--semi-transparent-light-blue);
}

.sidebar-menu-container {
  list-style: none;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#sidebar-opener {
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  display: none;
}

#sidebar-closer {
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}

#sidebar-opener:hover,
#sidebar-closer:hover {
  color: var(--primary-green);
}

.main-container {
  padding: 16px 80px;
}

.filter-container {
  /* border: 1px solid violet; */
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 16px;
}

.inputField {
  width: 100%;
  border: 1px solid var(--semi-transparent-primary-green);
  border-radius: 6px;
  padding: 8px 12px;
  outline: none;
  font-size: 14px;
}

.inputField:focus {
  border: 1px solid var(--primary-green);
}

.content-container {
  margin-top: 16px;
}

.not-found {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: var(--primary-red);
  display: none;
}

.spinner-container {
  margin: 32px auto;
  width: fit-content;
  display: none;
}

.books-container {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.book-card-outer {
  background: var(--common-white);
  padding: 6px;
  border-radius: 8px;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5);
}

.book-card-inner {
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.book-img {
  width: 100%;
  height: 320px;
  object-fit: fill;
  border-radius: 6px;
  display: block;
}

.overlay {
  width: 100%;
  height: 0;
  background: var(--secondary-gradient);
  border-radius: 6px;
  padding: 0 12px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: height 1s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.book-card-inner:hover .overlay {
  height: 100%;
}

.overlay-content {
  margin-bottom: 16px;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1s ease, transform 1s ease;
}

.book-card-inner:hover .overlay-content {
  opacity: 1;
  transform: translateY(0);
}

.overlay-content .content-top {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-top .fa-heart {
  font-size: 18px;
  cursor: pointer;
}

.liked {
  color: var(--primary-red);
}

.overlay-content .book-title {
  margin: 4px 0;
}

.overlay-content .book-info {
  font-size: 12px;
}

.overlay-content .details-btn-container {
  margin-top: 8px;
  display: flex;
  justify-content: center;
}

.details-btn-container .btn-details {
  text-decoration: none;
  background: var(--primary-green);
  color: var(--common-black);
  font-size: 14px;
  font-weight: 500;
  padding: 4px 16px;
  border-radius: 9999px;
}

.details-btn-container .btn-details:hover {
  background: var(--primary-dark-green);
}

.btn-container {
  margin: 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.btn-container .btn-prev,
.btn-container .btn-next {
  background: var(--primary-green);
  color: var(--common-black);
  width: 100px;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.btn-container .btn-prev:hover,
.btn-container .btn-next:hover {
  background: var(--primary-dark-green);
}

.btn-disabled {
  background: #dedada !important;
  cursor: not-allowed !important;
}

/* responsive style */
@media only screen and (max-width: 992px) {
  .books-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .books-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 576px) {
  .nav-container {
    padding: 0 16px;
  }

  .nav-menu-container {
    display: none;
  }

  #sidebar-opener {
    display: block;
  }

  .main-container {
    padding: 16px;
  }

  .books-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* responsive style */
